.addHouseTypeSave {
  float: right;
  vertical-align: middle;
}

.addHouseType {
  &__tit {
    font-size: 18px;
    padding-bottom: 20px;
  }
  &__img {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    display: inline-block;
    img {
      width: 100px;
      height: 100px;
    }
  }
  &__icon {
    position: absolute;
    bottom: 5px;
    left: 19px;
    opacity: 0.9;
  }
}